*{
  margin: 0px;padding: 0px; box-sizing: border-box;
}
body{
background-image: url(bckg.jpeg);
background-repeat: no-repeat;
background-size: cover;
}
#header{
  width: 100%;
  height: 80px;
  background: aqua; 
  box-shadow: 0px 2px 4px gray;
  
}
#logo{
  width: 250px;
  height: 80px;
  padding: 10px;
  padding-left: 30px;
  float: left;
}
#navbar{
  width: 1000px; 
  height: 80px;
  float:right;
}
#navbar>li{
  width: 250px;
  list-style: none;
  float: left;
}
.li>a{
  display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}
.li>a:hover{
  background: purple;
}

#footer{
  text-align: center;
  width: 100%;
  height: 30px;
  color: darkgray;
}
@media screen and (max-width:600px){
  #root{
  width: 100%;
  padding: 0;
  }
  #navbar{
    width: 100%;
    padding: 0;
}
#navbar>li{
  width: 100%;
  padding: 0;
}
  .column{
    width: 100%;
    padding: 0;
  }
}